# Composer dependencies
/vendor/

# Environment files
.env
.env.dev
.env.testing
.env.local
.env.*.php

# Logs and cache
*.log
/cache/
/storage/
/tmp/

# PHPUnit
.phpunit.cache*
.phpunit.result.cache

# IDE / Editor settings
/.idea/
/.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db
